@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=VT323&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');


* {
    margin: 0%;
    padding: 0%;
    
}

a {

    text-decoration: none;
}

html {

    font-size: 19px;
}

body {
    height: 15000px;
    position: relative;
}

h2{

    text-align: center;
}

button {

    width: 15vw;
    border-radius: 15px;
    padding: 0.8em;
    font-weight: bold;
    font-family: "Orbitron", sans-serif;
    font-size: 0.7em;
    min-width: 130px;
    cursor: pointer;
}

.main {
    display: flex;
    align-items: center;
    position: relative;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}


.information {

    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0.5em;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-size: 0.8em;
    font-weight: bold;
    position: fixed;
    top: 5%;
    right: 0%;
    z-index: 1;
    width: 35vw;
    line-height: 2;
    opacity: 0%;
    visibility: hidden;
    transition: 1s ease-out;
    background-color: rgba(0,0,0,0.5);
    padding: 0.8em;
    border-radius: 15px;
}

.information p {

    color: greenyellow;
}

.information h2 {
    font-size: 50px;
    color: greenyellow;
    margin-bottom: 0.2em;
}

 button.greenBtn {

    background-color: greenyellow;
    color: black;
   
}

button.blackBtn {

    background-color: rgba(0,0,0,0);
    color: greenyellow
}


.animatedText {

    visibility: visible;
    display: flex;
    flex-direction: column;
    opacity: 100%;
    transform: (-20deg)
}

.animatedText h2 {

   
    animation: 2s anim-popoutin ease;
}

.animatedText p {

    animation: 3s anim-lineUp ease-out;
}

.animatedText button {

    animation: 2s anim-popoutin ease;
}



.flexColumn {

    display: flex;
    gap:25px;
    text-align: center;
    flex-direction: column;

}

#freeLook {
 
    width: 50vw;
    left:30%;
    top:40%
}

#aboutInfo {
    position: fixed;
    line-height: 1.1;
    width: 50vw;
    height: 10px;
    left:25%;
    top: 10%
}

#aboutInfo h2 {

    font-size: 1.5em;
}

#aboutInfo  a {

    font-weight: bolder;
    color:antiquewhite;
    background-color: black;
    padding:5px;
    border-radius:15px;
}

.fullScreen {

    visibility: visible;
    opacity: 80%;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    font-size: 1em;
    text-align: center;
}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes anim-popoutin {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    25% {
        transform: scale(2);
        opacity: 1;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}